/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/meals/loading.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.loading_loading__0QjDi {
  text-align: center;
  animation: loading_loading__0QjDi 1.2s ease-in-out infinite;
}

@keyframes loading_loading__0QjDi {
  0% {
    color: #e9e9e9;
  }
  50% {
    color: #b89b84;
  }
  100% {
    color: #e9e9e9;
  }
}

